@model IEnumerable<Db.Model.UploadedFile>

@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <td><input type="text" id="search-FileNameId" placeholder="Search File Name"></td>
                            <td></td>
                            <td><input type="text" id="search-TerminalId" placeholder="Search Terminal Id"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    <tr>
                        <th>File Name</th>
                        <th>Catagory</th>
                        <th>Terminal Id</th>
                        <th>Uploaded Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var FileUploaded in Model)
                        {
                            <tr>
                                <td>@FileUploaded.ShowFileName</td>
                                <td>@FileUploaded.Catagory</td>
                                <td>@FileUploaded.TerminalId</td>
                                <td>@FileUploaded.CreatedAt</td>
                                <td>
                                    <button class="btn btn-link" id="ViewFileupload" fileId="@FileUploaded.UploadedFileId">View</button>
                                    <button class="btn btn-link" id="DeleteFileupload" fileId="@FileUploaded.UploadedFileId">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
//    $(document).ready(function () {
//        $('#assets-data-table').DataTable({
//            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
//            "order": [[2, "desc"]]
//        });
//    });
$(document).ready(function () {
    var table = $('#assets-data-table').DataTable({
        "lengthChange": true,
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
    });

    $(document).on('keyup', '#search-FileNameId', function () {
        debugger;
        table
            .column(0)
            .search(this.value)
            .draw();
    });
    $(document).on('keyup', '#search-TerminalId', function () {
        debugger;
        table
            .column(2)
            .search(this.value)
            .draw();
    });
    $("#btnViewFileupload").click(function () {
        $("#ViewTransactionsPartial").html("");
    });
});
</script>
