@model IEnumerable<Db.Model.MemberBankCardBinNo>

@{
    ViewBag.Title = "MemberBank Bin No";
    ViewBag.MenuTitle = "MemberBank Bin No";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberBank.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BinNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetworkType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberBank.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BinNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MemberBankCardBinNoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MemberBankCardBinNoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MemberBankCardBinNoId })
            </td>
        </tr>
    }

</table>
